<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="">Home</a></li>
        <li routerLinkActive="active"><a href="login">Login</a></li>
        <li routerLinkActive="active"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
